/* Cart styling  */

.item-amount {width: 25px; height: 25px; text-align: center;-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;}
div.couple-result {width: 710px;margin: 0 0 15px 15px; position: relative; float: left;}
div.couple-result img {border: 2px solid #FFFFFF;box-shadow: 0 0 5px #888888;float: left;max-height: 200px; margin: 0 15px 0 0 ;}
div.couple-result div.content-inner {padding: 10px; position: relative;}

div#cart {background: url("../images/cart-btn.jpg") top left no-repeat; position: relative; width: 133px; height: 40px; float: right; margin: 10px -30px 0 0; line-height: 40px; color: #b0b8c4;padding: 0 0 0 40px;}
div#cart a {font-size: 16px; width: 123px; height: 40px; display: inline-block; position: absolute; top: 0; left: 0; text-align: right; padding: 0 12px 0 0 ;}

div#checkout-progress {width: 100%; display: inline; text-align: center;}
div#checkout-progress div.step1.active, div#checkout-progress div.step2.active, div#checkout-progress div.step3.active, div#checkout-progress div.step4.active { border-bottom: 2px solid #765829; color: #3b3a3a;}
div#checkout-progress div.step1, div#checkout-progress div.step2, div#checkout-progress div.step3, div#checkout-progress div.step4 {margin: 10px 0; width: 175px; float: left; border-bottom: 2px solid #b9b9b9; color: #b9b9b9; padding: 3px 0;}
div#checkout-progress div.step1.completed span, div#checkout-progress div.step2.completed span, div#checkout-progress div.step3.completed span, 
div#checkout-progress div.step4.completed span {background: url("../images/checkout-completed.jpg") right no-repeat; padding-right: 15px;}

.checkout {background: url("../images/checkout-btn.png") 0 -3px no-repeat; display: inline-block; width: 151px; height: 44px;}
.checkout:hover {background-position: 0 -47px; }
.ui-widget-content a {color: #886b3e !important; text-decoration: none; font-style: italic;  line-height: 44px;} 
.ui-widget-content a:hover {text-decoration: underline;}
a.secure-checkout {background: url("../images/secure-checkout-btn.png") top left no-repeat; display: inline-block; width: 302px; height: 40px; margin: 20px 20px 10px 0;}
a.secure-checkout:hover {background-position: 0 -40px; }

.link-continue-shopping{
    display: inline-block; width: 150px; text-align: right; float: right; line-height: 70px; margin: 0 20px 0 0;
}