@charset "UTF-8";
/* CSS Document */

/* Cool, lets get the CSS reset going */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,
thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section
{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}body{line-height:1}a img{border:none}table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}table,td,th{vertical-align:middle}blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:""""}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}button::-moz-focus-inner{border:0}

/* Done :) */

.search-button {display: none;}

body{font-family: Georgia;font-size:0.8em;line-height:1.3em; margin:0;padding:0; background: url("../images/page-bg.png") center top repeat-x #f1f0ef; color: #545454;}
.clear{clear: both;}
img {border:none;}
a, a:visited {color: #886b3e; text-decoration: none; font-style: italic; }
a:hover {text-decoration: underline;}
h1,h2,h3 {font-weight: normal; color: #4e4e4e; padding: 10px 0;}
h1 {font-size: 22px;}
h2 {font-size: 22px; line-height: 22px;}
h3 {font-size: 14px;}
p {color: #545454; font-size: 13px; padding-bottom: 10px; font-weight: normal; line-height: 22px; letter-spacing: 0px;}
hr {padding: 0; margin: 4px 0; color:red; border:0; border-top:solid 1px #dcdada;}
ol {padding-left: 30px; font-size: 13px; line-height: 22px;}
ol#scheduleA li { margin-bottom: 5px;}
ol li { font-size: 13px; margin-bottom: 20px;}
div.password {padding: 0 0 0 12px; width: 130px;}

/* Some generic styles */

div#wrapper {width: 962px; margin: 0 auto; padding: 0; position: relative; overflow: hidden;}
div#logo { width: 257px; height: 142px; margin: 0 auto;}
div#logo img {margin-top: 60px;}
div#header {height: 252px;}
div#page-content {width: 955px; text-align: left; float: left; margin: 0 0 10px 0; padding: 2px; border: 1px solid #d8d8d8; background-color: #fff; position: relative; height: auto;}
.text-shadow {text-shadow: 1px 1px 1px #000; }
#navbg {background: url("../images/nav-bg.png") 0 252px repeat-x; }
div#navbg .dots {background: url("../images/dot.png") 0 243px repeat-x; }
div#footer-bg .dots {background: url("../images/dot.png") 0 5px repeat-x; }

div#leftCol {width: 198px; padding: 0 0 60px 0; -webkit-padding-after:140px; margin: 0 10px 0 0; display: block; float: left;/* background: url("../images/leftCol-bg.jpg") 0 0 repeat-y;*/ height: auto;}
#content { width:760px; padding-left: 200px; background: url("../images/leftCol-bg.jpg") 0 -200px repeat-y;}
#content p {width: 630px; padding-left: 20px;}
#content h2, #content h3 {padding-left: 20px;}

/*------ Main Nav ------ */

div#menu {height: 48px; float: left; padding-top: 20px; text-align: center;}
div#menu ul {list-style: none;}
div#menu ul li:first-child { margin:1px 5px 1px 3px;}
div#menu ul li {float: left; margin:1px 5px 1px 5px; padding: 0 4px 0 4px;  display: block; text-align: center; background: url("../images/nav-separator.png") right no-repeat;}
div#menu ul li.active a,  div#menu ul li a:hover {color: #cfd4db; border-top: 1px solid #959ca7;border-bottom: 1px solid #959ca7; padding:5px 3px 5px 0px;}
div#menu ul li a {display: inline-block; color: #000; text-decoration: none; text-align: center;  cursor: pointer; text-align: center;
text-transform: uppercase; font-size: 14px; color: #fff; margin:0 3px 0 -4px; padding:6px 3px 6px 0px;}
div#menu ul li:last-child {background: none;}


/* ------ Left Navigation ----- */
ul.leftnav {padding-top: 10px;}
ul.leftnav li.active a, ul.leftnav li a:hover {color: #a5acb7; background-position: 0px 2px; text-decoration: none;}
ul.leftnav a {color: #fff; background: url("../images/leftCol-arrows.png") 0 -53px no-repeat; display: inline-block; width: 168px; padding: 0 0 0 20px; height: 30px; font-style:normal;}
ul.leftnav li {height: 36px; padding: 14px 0 0 10px; background: url("../images/leftCol-nav-deviders.png") bottom center no-repeat; display: inline-block;}
ul.leftnav li:last-child {background: none;}



/* ---- Page Style ----*/

div.intro-copy {padding-bottom: 10px;}
div.intro-copy p {width: 313px;}
div.intro-copy img {float: left; padding: 0 30px 0 0;}
div.intro-copy div.copy {width: 360px; float: left; padding-top: 20px;}
div.verticle-devider {border-right: 1px solid #dcdada;  min-height: 315px;display: block; width: 5px; float: left; margin-right: 5px;}
div.content-subsection {background: url("../images/content-devider.png") center bottom no-repeat; padding-bottom: 20px; margin-bottom: 20px;}

div.content-outer {border: 1px solid #dcdada; background-color: #fff; padding: 1px;}
div.content-inner {background-color: #efefef;}
div.home-booking {width: 49%; text-align: center; float: left; }
div.home-booking div.content-inner { padding: 40px 0 20px 0 ; min-height: 250px;}

h2.bride-groom, h2.wedding-guests {font-size: 24px;}

div.search-block {width: 49%; text-align: center; float: left;}
div.search-block div.content-inner { padding: 40px 0 20px 0; min-height: 250px;}
div.newsletter div.content {float: left;}
div.social-links {float: right;}


.breadcrumb {padding: 10px 0 15px 0;}
.page-img img {margin-left: -9px; padding: 10px 0;}
.leftColSuppliers {text-align: center;}
.leftColSuppliers img {padding: 2px 0;}

div#testimonials, #how-it-works {width:720px; margin: 10px 0 0 15px;overflow: visible !important;position: relative; }
div#testimonials p {width:590px;color: #717171;}
div#testimonials img {margin-top: -10px; float: left; position: absolute; top: 2px; left: 9px;}
div#testimonials div.testimonial {background: url("../images/content-devider.png") center bottom no-repeat;}
div#testimonials div.testimonial:last-child {background: none;}
div.testimonial {padding: 20px 60px; line-height: 22px; }
div.testimonial span.testimonial-name {font-style: normal; color: #4e4e4e;}
div.testimonial span.title {font-style: italic; color: #4e4e4e;}

div#terms, #contact-us, #recommended-suppliers, #registry-order, #my-registry {width: 721px; margin-left: 10px;}
div.terms-conditions {padding: 10px 65px 10px 10px;}
div.supplier-list {padding: 10px;}
div#recommended-suppliers .content-inner {min-height: 710px;}
#recommended-suppliers h2 {padding-left: 0px;}
div.supplier {width: 50%; float: left;}
div.supplier-row {background: url("../images/content-devider-horizontal.jpg") repeat-x center bottom ;  padding: 0 0 10px 0;  min-height: 150px; line-height: 25px;}
h2.terms-h2 {margin-left: -30px; padding-left: 0px !important;}


div.faq {padding: 10px 0; margin: 0 20px; background: url("../images/content-devider-horizontal.jpg") repeat-x center bottom ;}
div.faq h2, div.faq p {padding-left: 0 !important;}

div.map {float: left; margin: 0 10px 0 15px; height: 383px; padding: 1px; background:#fff;border: 1px solid #dcdada; } 
div.contact-details {width: 211px; float: right;padding: 0 0 0 20px; background: url("../images/content-devider-verticle.jpg") repeat-y 0 0 ; margin-right: 20px; margin-top: -20px; height: 400px;}
div.contact-details h3 {font-size: 16px; color: #595959; margin: 0 0 0 -25px; padding: 20px 0;}
div.contact-details h3.callus {margin-top: -20px;}
div.contact-item { background: url("../images/content-devider-horizontal.jpg") repeat-x center bottom ; margin-bottom: 10px; padding-bottom: 15px;}
span.address {padding-left: 40px; background: url("../images/home-icon.jpg") 0 0 no-repeat; display: block; padding-bottom: 15px;}
span.call-us {padding-left: 40px; background: url("../images/phone-icon.jpg") 0 0 no-repeat; display: block; padding-bottom: 15px;}
span.mobile-num {padding-left: 40px; background: url("../images/mobile-icon.jpg") 0 0 no-repeat; display: block; padding-bottom: 15px; padding-bottom: 15px;}
span.email-laura {padding-left: 40px; background: url("../images/email-icon.jpg") 0 0 no-repeat; display: block; padding-bottom: 15px;}

div.search-registry {min-height: 645px;}
div.find-registry, div.order-details, div.guest, div.couple-message {width: 720px;margin-left: 15px; float: left; position: relative;}
div.couple-message {margin-bottom: 20px;}
div.couple-message div.content-inner {padding: 15px; font-style: italic;}
div.find-registry-form {height: 140px;}
div.header-dark-bg, .category-list-title, .order-title, .content-title {background-color: #e3e3e3; border-bottom: 1px #fff solid; padding: 3px 0px;border-bottom: 1px #dcdada solid; margin-bottom: 2px;}
div.subcategory-title {background-color: #f7f7f7; border-bottom: 1px #dcdada solid; padding: 3px 0px; text-decoration: underline; margin-top: 1px;}
div.search-resluts {width: 710px;margin: 0 0 15px 15px; position: relative; float: left;}
div.search-result {position: relative; padding: 15px 0; background: url("../images/content-devider.png") center bottom no-repeat;}
div.search-resluts div.content-inner {padding: 10px; position: relative;}
span.registry-results-title {font-size: 22px;color: #886B3E; font-style: italic; line-height: 25px;}
span.wedding-date {padding: 10px 0; line-height: 26px;}
a.view-btn {background: url("../images/view-btn.png") 0 0 no-repeat; display: inline-block; width: 105px; height: 41px; float: right; text-indent: 99999px; font-size: 0px; margin: 30px 26px 0 0;}
a.view-btn:hover {background-position: 0 -42px;}


div.contribute div.purchase-qty input#purchase_qty {width: 40px !important;}
div.registry-product-list {padding: 10px;/* min-height: 250px; */border-bottom: 1px solid #DCDADA;position: relative; margin-top: 1px; }
div.product-img-wrap {width: 185px; text-align: center;margin-top: 10px;float: left;}
div.registry-product-list img
{border: 2px solid #fff;-moz-box-shadow: 0 0 5px #888; float: left; 
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888; max-height: 200px; /*width: 185px;*/}


div.search-resluts div.content-inner img
{border: 2px solid #fff;-moz-box-shadow: 0 0 5px #888; float: left; margin: 4px 20px 0 5px;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}

img.img-shadow {border: 2px solid #fff;-moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}


div.product-details {width: 480px; margin: 10px 0 0 215px; position: relative;}
div.product-price {display: inline-block; width: 80px;border: 1px #dcdada solid; float: left; text-align: center; 
background-color: #fff; height: 50px; padding: 10px; margin-top: 20px;}
div.product-price span.value {font-size: 17px; font-style: italic;}
span.priority-rating {background: url("../images/priority-icon.jpg") left no-repeat; padding-left: 30px; width: 80px; float: right;}
span.product-title {font-size: 16px;}
span.product-description {}
div.qty-requested {width: 80px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 50px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.qty-items-requested {margin-top: 5px; line-height: 25px;}
div.qty-baught {display: inline-block;width: 80px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 50px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.qty-baught input {width: 15px; height: 15px; text-align: center; margin-top: 5px;}
div.purchase-qty {display: inline-block;width: 100px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 50px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.purchase-qty input {width: 15px; height: 15px; text-align: center; margin-top: 5px;}
a.but-gift-btn {background: url("../images/buy-gift-btn.png") 0 0 no-repeat; display: inline-block; width: 141px; height: 41px; float: right; text-indent: 99999px; font-size: 0px; margin: 30px 26px 0 0;}
a.but-gift-btn:hover {background-position: 0 -43px;}
a.update-btn {background: url("../images/update-btn.png") 0 0 no-repeat; display: inline-block; width: 125px; height: 41px; float: right; text-indent: 99999px; font-size: 0px; margin: 30px 0px 0 0;}
a.update-btn:hover {background-position: 0 -40px;}


div.my-product-price {width: 100px;border: 1px #dcdada solid; float: left; text-align: center; background-color: #fff; height: 40px; padding: 10px; margin-top: 20px;}
div.my-product-price span.value {font-size: 17px; font-style: italic;}
span.remove-item {/*background: url("../images/remove-icon.png") left no-repeat; */padding: 0 20px 0 20px; width: 80px; float: right;}
div.priority-optional {width: 80px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 40px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.qty-required {width: 80px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 40px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.qty-required input {width: 15px; height: 15px; text-align: center; margin-top: 5px;}
div.items-bought {width: 80px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 40px; padding: 10px; margin: 20px 0 0 10px; float: left;}
div.contribution {display: inline-block;width: 100px;border: 1px #dcdada solid; text-align: center; background-color: #fff; height: 50px; padding: 10px; margin: 20px 10px 0 10px; float: left;}
div.contribute-price {display: inline-block;width: 100px;border: 1px #dcdada solid; float: left; text-align: center; background-color: #fff; height: 50px; padding: 10px; margin-top: 20px;}
div.contribute-price span.value, div.contribution span.value {font-size: 15px;}
div.bought {background-color: #d7e4d9 !important;}
div.bought div.contribution {width: 100px;border: 1px #c6d0c6 solid; text-align: center; background-color: #e6f4e7; height: 40px; padding: 10px; margin: 20px 10px 0 10px; float: left;}
div.bought div.contribute-price {width: 100px;border: 1px #c6d0c6 solid; float: left; text-align: center; background-color: #e6f4e7; height: 40px; padding: 10px; margin-top: 20px;}


div.registry-dashboard {padding: 20px; min-height: 775px;}
div.registry-dashboard h2 {padding: 0 0 15px 0 !important;}
div.registry-dashboard img.registry-profile {float: left;}
div.registry-dashboard input.registry-name {height: 72px; margin: 0 15px;vertical-align:top; text-align: top; font-size: 16px; width: 400px;}
div.registry-dashboard input.registry-date {height: 72px; margin: 0 0 0 0;vertical-align:top; text-align: top; font-size: 14px; width: 115px; padding: 3px 10px;}
textarea.message {border: 1px solid #CBCACA;color: #959CA7;font-family: Georgia;font-size: 13px;font-style: italic;height: 130px;padding: 3px;width: 676px;}
div.registry-dashboard label {display: inline-block; width: 100px; padding-bottom: 15px;}
div.registry-dashboard input {width: 300px;}
div.registry-dashboard label.delivery {display: inline-block; vertical-align: top; padding-top: 5px;}
textarea.delivery-address {border: 1px solid #CBCACA;color: #959CA7;font-family: Georgia;font-size: 13px;font-style: italic;height: 130px;padding: 3px;width: 300px;}
label.message {display: inline-block; vertical-align: top; padding-top: 5px;}
textarea.order-message {border: 1px solid #CBCACA;color: #959CA7;font-family: Georgia;font-size: 13px;font-style: italic;height: 130px;padding: 3px;width: 590px; margin-bottom: 20px;}
span.mandatory {padding: 10px 10px; display: inline-block;}


div.message-consultant {float: left;}
div.message-consultant label {display: inline-block; width: 120px; padding-bottom: 20px;}
div.message-consultant input {width: 260px;}
div.message-consultant label.how-help {vertical-align: top; padding-top: 5px;}
div.message-consultant textarea.help {border: 1px solid #CBCACA;color: #959CA7;font-family: Georgia;font-size: 13px;font-style: italic;height: 130px;padding: 3px;width: 260px;}
div.contact-details-consultant {width: 211px; float: right;padding: 0 0 0 20px; background: url("../images/content-devider-verticle.jpg") repeat-y 0 0 ; margin-right: 20px; margin-top: -20px; height: 400px;}
div.contact-details-consultant h3 {font-size: 16px; color: #595959; margin: 0 0 0 -25px; padding: 20px 0;}
div.contact-details-consultant h3.callus {margin-top: -20px;}
div.contact-details-consultant div.contact-item {margin-bottom: 10px; padding-bottom: 15px; background-image: none !important;}
 
div.order-calculation {padding: 20px; height: 50px;}
span.account-balance {line-height: 17px; display: inline-block; padding: 10px 0 0 20px; height: 30px; float: left;}
span.balance {line-height: 20px; display: inline-block; padding: 15px 0 0 20px; height: 30px; float: left;}
input.order-balance {height: 30px; display: inline-block; width: 65px; margin: 0 0 0 10px; font-size: 15px; color: #2B2B2B; padding: 10px;float: left;}

.order-details-sections {padding: 20px 0 10px 0; min-height: 645px;}
.order-details-sections label {width: 100px; display: inline-block; padding-bottom: 20px;}
.order-details-sections label.message {width: 60px; display: inline-block;}


div.how-it-works {padding: 20px 60px 15px 30px; line-height: 22px; background: url("../images/content-devider.png") no-repeat scroll center bottom transparent;}
div.how-it-works p {padding-left: 30px !important; width: 570px !important;}
#one {background: url("../images/how-1.jpg") 0 0 no-repeat;}
#two {background: url("../images/how-2.jpg") 0 0 no-repeat;}
#three {background: url("../images/how-3.jpg") 0 0 no-repeat;}
div.how-it-works img {margin: 20px 0 20px 60px; padding-bottom: 20px;}

.border-right {border-right: 1px solid #CCCCCC;}
.order-summary-left-col {float: left; width: 40%; padding: 0 0 20px 30px; display: inline-block;background: url("../images/content-devider-verticle.jpg") repeat-y scroll right top transparent;}
.order-summary-right-col {float: left; width: 40%; padding: 0 0 10px 20px; display: inline-block;}
.order-summary-right-col .label, .order-summary-left-col .label {color: #3b3a3a; font-size: 14px; padding: 15px 0 0px 0; display: inline-block;}
.order-summary-right-col p {padding-left: 0 !important; width: 365px !important;}

.guest-left-col {float: left; width: 300px; padding: 0 10px 20px 30px; display: inline-block; height: auto;background: url("../images/content-devider-verticle.jpg") repeat-y scroll right top transparent;
 margin: 0 -2px 20px 0;}
.guest-right-col {background: url("../images/content-devider-verticle.jpg") repeat-y scroll left top transparent; width: 300px; padding: 0 10px 10px 20px; display: inline-block;}
.guest-right-col .label, .guest-left-col .label {color: #3b3a3a; font-size: 14px; padding: 15px 0 0px 0; display: inline-block;}
.guest-right-col p {padding-left: 0 !important; width: 320px !important;}
div.guest-name {background-color: #f7f7f7; border-bottom: 1px #dcdada solid; padding: 3px 0px; text-decoration: none; margin-top: 1px;}
div.guest-name h3 {display: inline-block;}
a.print {display: block; float: right; padding: 3px 25px; background: url("../images/print-icon.png") left no-repeat; }
span.thank-you-to-send {display: inline-block; float: right; padding: 3px 10px 3px 0; margin: 1px 10px 0 0;/* background: url("../images/notice-icon.png") right no-repeat;*/} 
span.thank-you-sent {display: inline-block; float: right; padding: 0 0 0 0; margin: 10px 10px 0 0; }
/* Order Table Styling */

.order-table {width: 725px; border-collapse: collapse; background-color: #efefef;border-top: 1px solid #CCC; margin: 15px 0 0 10px;}
.order-table tr {vertical-align: middle; }
.order-table td {border-bottom: 1px solid #CCC; padding: 10px;}
.order-table td:first-child {width: 400px;border-left: 1px solid #CCC;}
.order-table td+td {border-left: 1px solid #CCC;text-align: center;border-right: 1px solid #CCC;}
.order-table .table-heading, tr.gift-wrapping-heading {background-color: #e3e3e3; color: #3b3a3a;}
.order-table .table-heading .cat-heading, tr.gift-wrapping-heading, .gift-total {color: #3b3a3a; font-size: 18px;}
.order-table .table-subheading {background-color: #f7f7f7; text-decoration: underline;}

.order-table img {float: left;border: 2px solid #fff;-moz-box-shadow: 0 0 5px #888; float: left; margin: 0 15px 0 0;
-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
.pixel-bottom {background: url("../images/white-pixel.jpg") bottom center repeat-x}
input.order-qty {width: 15px; height:15px;}
input.order-contribution-value {width: 40px; height: 15px;}

tr.gift-wrapping {padding: 30px;border-right: 1px solid #CCC;}
tr.gift-wrapping td {padding: 20px;}
tr.gift-wrapping label {padding: 0 5px;}
tr.gift-wrapping-heading, .gift-total {border-right: 1px solid #CCC;}

span.total-price {float: right;}
div.beta img {position: absolute; right: 0; top: 0;}

/* ---- Button Styling --- */

.float-r {float: right; display: inline-block;}
.float-l {float: left;}

a.book-now {background: url("../images/book-now-btn.png") 0 0 no-repeat; width: 180px; height: 52px; display: inline-block;}
a.book-now:hover {background-position: 0 -54px;}
a.find-registry {background: url("../images/find-registry-btn.png") 0 0 no-repeat; width: 180px; height: 52px; display: inline-block;}
a.find-registry:hover {background-position: 0 -54px;}
a.sign-up {background: url("../images/subscribe-btn.png") 0 0 no-repeat; width: 204px; height: 42px; display: inline-block; margin-left: -3px;}
a.sign-up:hover {background-position: 0 -46px;}
a.twitter {display: inline-block; height: 37px; width: 130px; background: url("../images/twitter-btn.png") 0 0 no-repeat; margin-top: 20px; margin-right: 5px;}
a.facebook {display: inline-block; height: 37px; width: 130px; background: url("../images/facebook-btn.png") 0 0 no-repeat; margin-top: 20px; margin-right: 5px;}
a.pinterest {display: inline-block; height: 37px; width: 130px; background: url("../images/pintest-btn.png") 0 0 no-repeat; margin-top: 20px; margin-left: 5px;}
a.pinterest:hover, a.facebook:hover, a.twitter:hover {background-position: 0 -38px;}
a.login {background: url("../images/login-btn.png") 0 0 no-repeat; width: 81px; height: 36px; display: inline-block; margin-left: 0px; position: absolute; left: 0px;}
a.login:hover {background-position: 0 -39px;}
a.logout {background: url("../images/logout-btn.png") 0 0 no-repeat; width: 81px; height: 36px; display: inline-block; margin-left: 0px; position: absolute; left: 0px;}
a.logout:hover {background-position: 0 -40px;}
a.recalculate {background: url("../images/recalculate-btn.png") 0 0 no-repeat; width: 138px; height: 41px; display: inline-block; margin: 10px 0 0 25px;float: left;}
a.recalculate:hover {background-position: 0 -41px;}
a.save {background: url("../images/save-btn.png") 0 0 no-repeat; width: 105px; height: 41px; display: inline-block; margin: 20px 0 0 25px;}
a.save:hover {background-position: 0 -40px;}
a.confirm {background: url("../images/confirm-btn.png") 0 0 no-repeat; width: 105px; height: 41px; display: inline-block; margin: 20px 25px 0 10px;}
a.confirm:hover {background-position: 0 -40px;}
a.back-to-list  {background: url("../images/back-to-list-btn.png") 0 0 no-repeat; width: 140px; height: 41px; display: inline-block; margin: 20px 10px 0 10px;}
a.back-to-list:hover {background-position: 0 -42px;}
a.proceed {background: url("../images/proceed-btn.png") 0 0 no-repeat; width: 140px; height: 41px; display: inline-block; margin: 20px 25px 0 0px;}
a.proceed:hover {background-position: 0 -42px;}
a.submit {background: url("../images/submit-btn.png") 0 0 no-repeat; width: 108px; height: 41px; display: inline-block; margin: 20px 0 0 0px;}
a.submit:hover {background-position: 0 -43px;}
a.but-gift-btn {background: url("../images/buy-gift-btn.png") 0 0 no-repeat; display: inline-block; width: 141px; height: 41px; 
float: right; text-indent: 99999px; font-size: 0px; margin: 30px 20px 0 0;}
a.but-gift-btn:hover {background-position: 0 -43px;}
a.contribute-btn {background: url("../images/contribute-btn.png") 0 0 no-repeat; display: inline-block; width: 141px; height: 41px; float: right; text-indent: 99999px; font-size: 0px; margin: 30px 26px 0 0;}
a.contribute-btn:hover {background-position: 0 -46px;}

div.order-checkout a {position: absolute; right: 20px; top: 0px;padding: 34px 0 0 60px;
background: url("../images/checkout-btn.jpg") left no-repeat; display: inline-block; width: 100px; height: 49px;}


/* --- Footer Styling  ----- */

div#footer {width: 960px; margin: 0 auto; color:#8d8d8d; font-size: 11px; padding: 30px 0 10px 0;}
div#footer div.newsletter {padding-top: 20px}
div#footer div.newsletter span {font-style: italic;}
div#footer-bg {background: url("../images/footer-bg.png") center bottom repeat; height: 230px; width: 100%; margin: 0 0 -20px 0; padding: 0;}
div.copyright {float: right; padding-top: 30px;}


/* Table STyling */

table.acc-tables {font-size: 12px;margin: 2px 0 0 0;text-align: left;border-collapse: collapse; width: 99%;}
.table-header {font-size: 17px; font-weight: bold;}
table.acc-tables th {font-size: 14px;font-weight: normal;padding: 10px 8px;color: #3a3a3a;}
table.acc-tables td {padding: 8px;color: #2b2b2b;  border: 1px solid #cfcfcf;}
table.acc-tables .odd {background: #e2e0e0; }

.errorSummary {display: none;} /* Remove error summary */

/* ------- Form Styling ----------*/

div.find-registry-form form {padding: 20px 5px;}
form#registry-form {padding-top: 0px;}
label {padding: 0 15px;}
input {border: 1px #cbcaca solid; height: 25px; padding: 3px; width: 220px;font-family: Georgia; font-style: italic; font-size: 12px; color: #959ca7;}
input.error {border: 1px solid #ff0000 !important;}
label.lastname {padding: 0 15px 0 67px;}
div.order-details input {width: 200px;}

input.remeber-me {width: 15px; height: 15px; border: 1px solid #b3b3b3; float: left;}
label.remember-me {line-height: 25px; padding: 0 0 0 5px;}
a.forgot-pwd {padding-left: 25px;}
input[type="checkbox"] {width: 15px; height: 15px; border: 1px solid #b3b3b3; padding: 0; margin: 4px 2px 4px 4px;}

/* Form Buttons - */
input.search-btn {background: url("../images/search-registery-btn.png") 0 0 no-repeat; cursor: pointer; display: inline-block; height: 41px; width: 107px; float: right; text-indent: 9999px; font-size: 0; border: none; margin: 20px 25px 0 0;}
input.search-btn:hover {background-position: 0 -41px;}
input.form-login-btn {background: url("../images/form-login-btn.png") 0 0 no-repeat; cursor: pointer; display: inline-block; height: 41px; 
width: 107px; float: right; text-indent: 9999px; font-size: 0; border: none; margin: 32px 20px 0 0;}
input.form-login-btn:hover {background-position: 0 -42px;}

/* ---- Search Box ----- */

form#search {background: url("../images/search-bg.png") 0 0 no-repeat; width: 221px; height: 40px; float: right; margin-top: 10px; padding: 0;}
form#search input.searchbox {background: transparent; height: 36px; color: #959ca7; font-family: Georgia; border: none; width: 172px; padding: 0 0 0 8px; font-style: italic;}
form#search input.search {width: 38px; height: 38px;background: url("../images/search-btn.png") 0 0 no-repeat; border: none; text-indent: 9999px; overflow: hidden; cursor: pointer; margin-top: 1px;}
form#search-block input.search-block {background: url("../images/search-block-bg.png") 0 0 no-repeat transparent; height: 39px; color: #959ca7; font-family: Georgia; border: none; width: 254px; padding: 0 0 0 8px; font-style: italic;}
input#YumUserLogin_rememberMe {margin-left: 14px;}


/* ------ Drop Down Styling --------- */

#select-list {float: right; height: 30px; margin-right: 30px; margin-bottom: 20px; display: block;}
.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover { color:#fff; border: 1px solid #fff;}
.dropdown dt a {background:#e4dfcb url("../images/category-dropdown-bg.jpg") no-repeat scroll left center; display:block; padding-right:20px; height: 39px;
                border:1px solid #fff; width:231px; color: #fff; line-height: 39px; padding-left: 10px;}
.dropdown dt a span {cursor:pointer; display:block; }
.dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:0px; width:auto;  width:261px; list-style:none; z-index: 9999;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:10px; display:block; border-bottom: 1px solid #eee;}
.dropdown dd ul li a:hover { background-color:#e5ded4;}

/* SlideShow Styling */

#slideshow {float: left; margin-right: 30px;}
.fadein { position:relative; height:332px; width:475px; }
.fadein img { position:absolute; left:0; top:0; }


/* Stick Bar */


#registry-order {

  }
#registry-order.stick {

  position: fixed;
  top: 0;
  z-index: 10000;
  }


/* */

.row input {width: 300px;}


/* jQuery Date Picker */

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=c0ae92&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=a48d6d&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=05_inset_soft.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #a48d6d; background: #c0ae92 url(images/ui-bg_highlight-soft_50_c0ae92_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }


